<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guru.future.mapper.OpenGapDAO">
    <resultMap id="BaseResultMap" type="com.guru.future.common.entity.dao.OpenGapDO">
        <result column="trade_date" jdbcType="VARCHAR" property="tradeDate"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="category" jdbcType="VARCHAR" property="category"/>
        <result column="pre_close" jdbcType="DECIMAL" property="preClose"/>
        <result column="pre_settle" jdbcType="DECIMAL" property="preSettle"/>
        <result column="open" jdbcType="DECIMAL" property="open"/>
        <result column="open_change" jdbcType="DECIMAL" property="openChange"/>
        <result column="gap_rate" jdbcType="DECIMAL" property="gapRate"/>
        <result column="day_gap" jdbcType="BOOLEAN" property="dayGap"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="contract_position" jdbcType="INTEGER" property="contractPosition"/>
        <result column="buy_low" jdbcType="DECIMAL" property="buyLow"/>
        <result column="sell_high" jdbcType="DECIMAL" property="sellHigh"/>
    </resultMap>

    <insert id="insertBatch" parameterType="list">
        insert into open_gap
        (trade_date, code, name, category, pre_close, pre_settle, pre_high, pre_low, open, open_change,
        gap_rate, day_gap, remark, contract_position, buy_low, sell_high)
        values
        <foreach collection="list" item="obj" index="index" separator=",">
            (
            #{obj.tradeDate}, #{obj.code}, #{obj.name}, #{obj.category}, #{obj.preClose}, #{obj.preSettle}, #{obj.preHigh}, #{obj.preLow},
            #{obj.open}, #{obj.openChange}, #{obj.gapRate}, #{obj.dayGap}, #{obj.remark}, #{obj.contractPosition}, #{obj.buyLow}, #{obj.sellHigh}
            )
        </foreach>
    </insert>

    <select id="selectByCurrentDate" resultMap="BaseResultMap">
        select * from open_gap where trade_date = CURDATE();
    </select>
</mapper>