<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress ALL -->
<mapper namespace="com.guru.future.mapper.DailyDAO">
    <resultMap id="BaseResultMap" type="com.guru.future.common.entity.dao.TradeDailyDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="symbol" jdbcType="VARCHAR" property="symbol"/>
        <result column="trade_date" jdbcType="VARCHAR" property="tradeDate"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="close" jdbcType="DECIMAL" property="close"/>
        <result column="close_change" jdbcType="DECIMAL" property="closeChange"/>
        <result column="settle" jdbcType="DECIMAL" property="settle"/>
        <result column="settle_change" jdbcType="DECIMAL" property="settleChange"/>
        <result column="open" jdbcType="DECIMAL" property="open"/>
        <result column="high" jdbcType="DECIMAL" property="high"/>
        <result column="low" jdbcType="DECIMAL" property="low"/>
        <result column="pre_close" jdbcType="DECIMAL" property="preClose"/>
        <result column="pre_settle" jdbcType="DECIMAL" property="preSettle"/>
        <result column="deal_vol" jdbcType="INTEGER" property="dealVol"/>
        <result column="hold_vol" jdbcType="INTEGER" property="holdVol"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, symbol, trade_date, code, `close`, close_change, settle, settle_change,
    `open`, high, low, pre_close, pre_settle, deal_vol, hold_vol, create_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from trade_daily
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectByQuery" resultType="com.guru.future.common.entity.dao.TradeDailyDO">
        select
        <include refid="Base_Column_List"/>
        from trade_daily
        <where>
            <if test="symbol != null">
                and symbol = #{symbol}
            </if>
            <if test="code != null">
                and code = #{code}
            </if>
            <if test="codes != null and codes.size() > 0">
                and code in
                <foreach collection="codes" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
            <if test="tradeDate != null">
                and trade_date = #{tradeDate}
            </if>
        </where>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from trade_daily
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insertSelective" parameterType="com.guru.future.common.entity.dao.TradeDailyDO">
        insert into trade_daily
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="symbol != null">
                symbol,
            </if>
            <if test="tradeDate != null">
                trade_date,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="close != null">
                `close`,
            </if>
            <if test="closeChange != null">
                close_change,
            </if>
            <if test="settle != null">
                settle,
            </if>
            <if test="settleChange != null">
                settle_change,
            </if>
            <if test="open != null">
                `open`,
            </if>
            <if test="high != null">
                high,
            </if>
            <if test="low != null">
                low,
            </if>
            <if test="preClose != null">
                pre_close,
            </if>
            <if test="preSettle != null">
                pre_settle,
            </if>
            <if test="dealVol != null">
                deal_vol,
            </if>
            <if test="holdVol != null">
                hold_vol,
            </if>
            <if test="code != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="symbol != null">
                #{symbol,jdbcType=VARCHAR},
            </if>
            <if test="tradeDate != null">
                #{tradeDate,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="close != null">
                #{close,jdbcType=DECIMAL},
            </if>
            <if test="closeChange != null">
                #{closeChange,jdbcType=DECIMAL},
            </if>
            <if test="settle != null">
                #{settle,jdbcType=DECIMAL},
            </if>
            <if test="settleChange != null">
                #{settleChange,jdbcType=DECIMAL},
            </if>
            <if test="open != null">
                #{open,jdbcType=DECIMAL},
            </if>
            <if test="high != null">
                #{high,jdbcType=DECIMAL},
            </if>
            <if test="low != null">
                #{low,jdbcType=DECIMAL},
            </if>
            <if test="preClose != null">
                #{preClose,jdbcType=DECIMAL},
            </if>
            <if test="preSettle != null">
                #{preSettle,jdbcType=DECIMAL},
            </if>
            <if test="dealVol != null">
                #{dealVol,jdbcType=INTEGER},
            </if>
            <if test="holdVol != null">
                #{holdVol,jdbcType=INTEGER},
            </if>
            <if test="code != null">
                now(),
            </if>
        </trim>
    </insert>

    <update id="updateByCodeTradeDateSelective" parameterType="com.guru.future.common.entity.dao.TradeDailyDO">
        update trade_daily
        <set>
            <if test="close != null">
                `close` = #{close,jdbcType=DECIMAL},
            </if>
            <if test="closeChange != null">
                close_change = #{closeChange,jdbcType=DECIMAL},
            </if>
            <if test="settle != null">
                settle = #{settle,jdbcType=DECIMAL},
            </if>
            <if test="settleChange != null">
                settle_change = #{settleChange,jdbcType=DECIMAL},
            </if>
            <if test="open != null">
                `open` = #{open,jdbcType=DECIMAL},
            </if>
            <if test="high != null">
                high = #{high,jdbcType=DECIMAL},
            </if>
            <if test="low != null">
                low = #{low,jdbcType=DECIMAL},
            </if>
            <if test="dealVol != null">
                deal_vol = #{dealVol,jdbcType=INTEGER},
            </if>
            <if test="holdVol != null">
                hold_vol = #{holdVol,jdbcType=INTEGER},
            </if>
        </set>
        where code = #{code,jdbcType=VARCHAR} and trade_date = #{tradeDate,jdbcType=VARCHAR}
    </update>

</mapper>